bullet_safety_gym==1.4.0
dsrl==0.1.0
easy_runner==0.1.0
fast_safe_rl==0.1.0
gym==0.26.2
gymnasium==0.28.1
numpy==2.3.4
oapackage==2.7.14
pyrallis==0.3.1
PyYAML==6.0.3
scipy==1.16.2
setuptools==80.9.0
torch==1.13.1
tqdm==4.67.1
